@import '../../../assets//styles/variables';

.headings {
  padding: 0.2rem;
  letter-spacing: 0.05rem;

  &-theme {
    &--default {
      color: #fff;
    }

    &--dark {
      color: $styles-color-gray-dark;
    }
  }
}
