@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.layout_container {
  .content_container {
    margin: 0 auto;
    padding: 2rem;
    width: 50rem;
    min-height: 100vh;
    @include styles-flex(column);
    @include styles-box-shadow();
  }
}
