@import "../../../assets/styles/variables";

.layout_container {
  .content_container {
    padding: 0 4rem;
    padding: 0 4rem;
    height: 100vh;
    border: 5px solid #ccc;
    margin: 0 4rem;
  }
}
