@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.checkbox_container {
  margin: 1rem;
  font-size: 0.7rem;

  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute;
    left: -9999px;
  }
  [type='checkbox']:not(:checked) + label,
  [type='checkbox']:checked + label {
    position: relative;
    padding-left: 1.95rem;
    cursor: pointer;
  }

  [type='checkbox']:not(:checked) + label:before,
  [type='checkbox']:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border: 2px solid $styles-color-black-dull;
    border-radius: 4px;
  }

  [type='checkbox']:not(:checked) + label:after,
  [type='checkbox']:checked + label:after {
    content: '\2588\0020';
    color: $styles-color-green--low;
    position: absolute;
    top: .1rem;
    left: .2rem;
    font-size: .8rem;
    transition: all 0.2s;
    font-weight: bold;
    border-radius: 50%;
  }
  [type='checkbox']:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
  }
  [type='checkbox']:checked + label:after {
    opacity: 1;
    transform: scale(.8);
    transition: all 0.2s;
  }

  [type='checkbox']:checked + label:before {
    opacity: 1;
    transform: scale(1);
    border: 2px solid $styles-color-green--low;
  }
  .label_title {
    top: 0.15rem;
  }
}
