@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables';

.selected_survey {
  color: $styles-color-black-dull;
  font-size: 0.95rem;
  font-weight: 400;
  margin: 1.2rem 0 0;
}
