//fonts
$styles-font--family-default: 'Nanum Gothic', sans-serif;
$styles-font--size-default: 20px;

//colors
$styles-color-gray-scale: #f8f8f8;
$styles-color-gray-medium: #f5f5f5;
$styles-color-gray-dark: #424242;
$styles-color-black-dull: #484848;
$styles-color-gray-dull: #a9a9a9;
$styles-color-green-peach: #46c4ba;
$styles-color-dull-green: #d3e6a5;
$styles-color-white-whale: #e8e8e8d6;
$styles-color-green--low: #46c4ba91;
$styles-color-peach-green-light: #476b2d7d;
$styles-color-blue--cloud: #3b62b2;
$styles-color-blue--penguin: #3b62b2c7;
$styles-color-yellow--warn: #ffc41c;
$styles-color-cement-gray: #6b6b6b;
$styles-color-black-gray: #383333;
