//fonts
$styles-font--family-default: 'Nanum Gothic', sans-serif;
$styles-font--size-default: 20px;

//colors
$styles-color-cloud-sky: #48b5e1;
$styles-color-gray-medium: #f8f8f8;
$styles-color-gray-light: #c9c9c9;
$styles-color-black-dull: #484848;
