@import '../../../assets/styles/variables.scss';

.button_container {
  display: initial;

  .btn {
    border-radius: 0.2rem;
    outline: 0;
    font-weight: bold;

    &_disabled {
      pointer-events: none !important;
      background-color: $styles-color-gray-dull !important; 
    }

    &_level--primary {
      color: #fff;
      background-color: $styles-color-blue--cloud;
    }

    &_size--default {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
    }

    &:hover {
      background-color: $styles-color-blue--penguin;
    }
  }
}
